---
import Layout from '@/layouts/Layout.astro'
import ProfileCheck from '@/icons/general/ProfileCheck.astro'
import Briefcase from '@/icons/general/Briefcase.astro'
import Code from '@/icons/general/Code.astro'
import School from '@/icons/general/School.astro'
import Skills from '@/icons/general/Skills.astro'
import Heart from '@/icons/general/Heart.astro'
import Certificate from '@/icons/general/Certificate.astro'
import SectionContainer from '@/components/ui/SectionContainer.astro'
import AboutMe from '@/components/sections/AboutMe.astro'
import Experience from '@/components/sections/Experience.astro'
import Education from '@/components/sections/Education.astro'
import Projects from '@/components/sections/Projects.astro'
import HardSkills from '@/components/sections/Skills.astro'
import Certifications from '@/components/sections/Certifications.astro'
import Hackatons from '@/components/sections/Hackatons.astro'
import { getLangFromUrl } from '@/i18n/utils'
import { titles } from '@/i18n/titles'

const lang = getLangFromUrl(Astro.url)
---

<Layout
	title='Cesar Villalobos Olmos Portfolio - Full-Stack Developer'
	description='Hire Cesar Villalobos Olmos to create your web or mobile application. Web Developer and Content Creator. Specialized in creating unique applications.'
	imageFullUrl='https://chicho-portfolio.vercel.app/images/full-image.webp'
>
	<div class='w-full flex flex-col gap-16'>
		<SectionContainer id='experience'>
			<h2
				class='flex items-center mb-3 md:mb-6 text-xl md:text-3xl font-semibold gap-x-4 md:gap-x-8 text-black/80 dark:text-white'
			>
				<Heart class='size-8' />
				{titles[lang].whoAmi}
			</h2>
	
			<p class='w-full text-lg text-gray-800 dark:[&>strong]:text-purple-500 [&>strong]:text-yellow-500 [&>strong]:font-bold dark:text-gray-300 text-pretty'>
				<strong>{titles[lang].whoAmiExperience}</strong> {titles[lang].whoAmiValue}
			</p>
		</SectionContainer>
		
		<SectionContainer id='experience'>
			<h2
				class='flex items-center mb-3 md:mb-6 text-xl md:text-3xl font-semibold gap-x-4 md:gap-x-8 text-black/80 dark:text-white'
			>
				<Briefcase class='size-8' />
				{titles[lang].experience}
			</h2>
	
			<Experience />
		</SectionContainer>
		
		<SectionContainer id='projects'>
			<h2
				class='flex items-center mb-3 md:mb-6 text-xl md:text-3xl font-semibold gap-x-4 md:gap-x-8 text-black/80 dark:text-white'
			>
				<Code class='size-8' />
				{titles[lang].projects}
			</h2>
	
			<Projects />
		</SectionContainer>

		<SectionContainer id='about-me'>
			<h2
				class='flex items-center mb-3 md:mb-6 text-xl md:text-3xl font-semibold gap-x-4 md:gap-x-8 text-black/80 dark:text-white'
			>
				<ProfileCheck class='size-8' />
				{titles[lang].aboutMe}
			</h2>
	
			<AboutMe />
		</SectionContainer>
		
		<SectionContainer id='education'>
			<h2
				class='flex items-center my-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white'
			>
				<School class='size-8' />
				{titles[lang].education}
			</h2>
	
			<Education />
		</SectionContainer>

		<SectionContainer id='skills'>
			<h2
				class='flex items-center mb-3 md:mb-6 text-xl md:text-3xl font-semibold gap-x-4 md:gap-x-8 text-black/80 dark:text-white'
			>
				<Skills class='size-8' />
				{titles[lang].skills}
			</h2>

			<HardSkills />
		</SectionContainer>

		<SectionContainer id='hackatons'>
			<h2
				class='flex items-center my-6 text-3xl font-semibold gap-x-8 text-black/80 dark:text-white'
			>
				<School class='size-8' />
				{titles[lang].hackatons}
			</h2>

			<Hackatons />
		</SectionContainer>

		<SectionContainer id='certifications'>
			<h2
				class='flex items-center mb-3 md:mb-6 text-xl md:text-3xl font-semibold gap-x-4 md:gap-x-8 text-black/80 dark:text-white'
			>
				<Certificate class='size-8' />
				{titles[lang].certifications}
			</h2>

			<Certifications />
		</SectionContainer>
	</div>
</Layout>
