---
import { aboutMe } from '@/i18n/sections'
import { getLangFromUrl } from '@/i18n/utils'

const lang = getLangFromUrl(Astro.url)
---

<div class='[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-purple-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty'>
  <p>
    {aboutMe[lang].paragraph1} <strong>{aboutMe[lang].paragraph1Highlight1}</strong>.
  </p>

  <p>
    {aboutMe[lang].paragraph2Sec1} <strong>{aboutMe[lang].paragraph2Highlight1}</strong>, {aboutMe[lang].paragraph2Sec2}
  </p>

  <p>
    <strong>{aboutMe[lang].paragraph3Highlight1}</strong>, {aboutMe[lang].paragraph3Sec1}
    <strong>{aboutMe[lang].paragraph3Highlight2}</strong>, {aboutMe[lang].paragraph3Sec2}
  </p>
</div>
