---
import { getLangFromUrl } from '@/i18n/utils'
import SectionContainer from '../ui/SectionContainer.astro'
import ProfileCheck from '@/assets/icons/general/profile-check.svg'
import { titles } from '@/i18n/titles'
import { aboutMe } from '@/i18n/sections'

const lang = getLangFromUrl(Astro.url)
const titlesTranslates = titles[lang]
const aboutMeTranslates = aboutMe[lang]
---

<SectionContainer id='about-me' class='mt-12'>
  <h2
    class='flex items-center mb-3 md:mb-6 text-xl md:text-3xl font-semibold gap-x-4 md:gap-x-8 text-black/80 dark:text-white'
  >
    <ProfileCheck class='size-8' />
    {titlesTranslates.aboutMe}
  </h2>

  <div class='[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-sky-400 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty [&>p]:text-lg [&>p]:text-neutral-800 dark:[&>p]:text-neutral-200'>
    <p>
      {aboutMeTranslates.paragraph1} <strong>{aboutMeTranslates.paragraph1Highlight1}</strong>
    </p>

    <p>
      {aboutMeTranslates.paragraph2Sec1} <strong>{aboutMeTranslates.paragraph2Highlight1}</strong> {aboutMeTranslates.paragraph2Sec2}
    </p>

    <p>
      <strong>{aboutMeTranslates.paragraph3Highlight1}</strong> {aboutMeTranslates.paragraph3Sec1} <strong>{aboutMeTranslates.paragraph3Highlight2}</strong> {aboutMeTranslates.paragraph3Sec2}
    </p>
  </div>
</SectionContainer>
