---
import Badge from '@/components/ui/Badge.astro'
import SectionContainer from '../ui/SectionContainer.astro'
import LinkButton from '../ui/LinkButton.astro'
import LinkedIn from '@/assets/icons/social/linked-in.svg'
import GitHub from '@/assets/icons/social/github.svg'
import Mail from '@/assets/icons/social/mail.svg'
import Download from '@/assets/icons/general/download.svg'
import { HighlightText } from '@/islands/HighlightText'
import { getLangFromUrl } from '@/i18n/utils'
import { hero } from '@/i18n/sections'

const lang = getLangFromUrl(Astro.url)
const heroTranslates = hero[lang]
---

<SectionContainer id='hero' class='w-full'>
  <div class='w-full grid grid-cols-1 md:grid-cols-3 gap-6 items-center justify-items-center'>
    <picture class='w-full mb-4 grid place-content-center'>
      <img
        src='/me.webp'
        alt=''
        class='w-1/2 md:w-full aspect-[9/16] object-cover mx-auto rounded-lg inline-block mask-fade-bottom -mt-6 hover:scale-105 hover:-translate-y-1 transition-all duration-300 ease-in-out'
        width='300'
        height='300'
        style='
          mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
          -webkit-mask-image: linear-gradient(to bottom, black 80%, transparent 100%);
        '
      >
    </picture>

    <div class='col-span-2 w-full flex flex-col flex-nowrap items-center md:block'>
      <h3 class='text-neutral-800 dark:text-neutral-200 text-2xl md:text-4xl mb-3 dark:[&>strong]:text-sky-500 [&>strong]:text-yellow-500'>
        <span class='block md:inline-block mb-1 md:m-0'>{heroTranslates.greeting} </span> <HighlightText className='text-4xl font-semibold' text='César Villalobos Olmos' client:only />
      </h3>
    
      <Badge>
        <a href='https://linkedin.com/in/cesarvillalobosolmos/' target='_blank'>
          {heroTranslates.available}
        </a>
      </Badge>

      <p class='w-full my-4 text-lg text-center md:text-left text-gray-800 dark:[&>strong]:text-sky-500 [&>strong]:text-yellow-500 [&>strong]:font-bold dark:text-gray-300 text-pretty'>
				<strong>{heroTranslates.experience}</strong> {heroTranslates.description}
			</p>

      <ul class='my-2 md:my-4 w-full flex flex-row justify-center md:justify-start items-center gap-2'>
        <li>
          <a
            href='https://linkedin.com/in/cesarvillalobosolmos/'
            role='link'
            target='_blank'
            title='LinkedIn'
            aria-label='LinkedIn'
            class='text-white bg-[#0a66c2] hover:bg-[#006097] hover:scale-105 hover:-translate-y-1 inline-flex items-center justify-center gap-2 p-2 transition border rounded-full focus-visible:ring-yellow-500/80 text-md group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring dark:focus-visible:ring-white focus-visible:ring-offset-2'
          >
            <LinkedIn />
          </a>
        </li>
    
        <li>
          <a
            href='https://github.com/chicho69-cesar'
            role='link'
            target='_blank'
            title='GitHub'
            aria-label='GitHub'
            class='text-white bg-black hover:scale-105 hover:-translate-y-1 inline-flex items-center justify-center gap-2 p-2 transition border rounded-full focus-visible:ring-yellow-500/80 text-md group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring dark:focus-visible:ring-white focus-visible:ring-offset-2'
          >
            <GitHub />
          </a>
        </li>
    
        <li>
          <a
            href='mailto:cesarvillalobosolmos.01@gmail.com'
            role='link'
            target='_blank'
            title='Correo Electrónico'
            aria-label='Correo Electrónico'
            class='text-white bg-yellow-500 hover:bg-yellow-400 hover:scale-105 hover:-translate-y-1 inline-flex items-center justify-center gap-2 p-2 transition border rounded-full focus-visible:ring-yellow-500/80 text-md group max-w-fit focus:outline-none focus-visible:outline-none focus-visible:ring dark:focus-visible:ring-white focus-visible:ring-offset-2'
          >
            <Mail />
          </a>
        </li>
      </ul>
    
      <LinkButton href='/cv.pdf' isForDownload>
        <Download class='size-4' />
        {heroTranslates.download}
      </LinkButton>
    </div>
  </div>
</SectionContainer>