---
import '@/styles/global.css';
import '@fontsource-variable/onest';

import Navbar from '@/components/ui/Navbar.astro'
import { ClientRouter } from 'astro:transitions'

interface Props {
  title: string;
  description: string;
  keywords?: string;
  imageFullUrl?: string;
}

const { title, description, keywords = '', imageFullUrl = '' } = Astro.props;
---

<!doctype html>
<html lang='en' class='dark'>
  <head>
    <meta charset='UTF-8' />
    <meta name='description' content={description} />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    
    <meta
      name='keywords'
      content={`Cesar, Programación, Desarrollo Web, Full-Stack Developer, Mobile App Developer, Web Developer, Front-End Developer, Back-End Developer, Java, JavaScript, React, React Native, TypeScript, C#, Spring, ASP.NET ${keywords}`}
    />

    <meta name='author' content='Cesar Villalobos Olmos' />
    <meta name='robots' content='index, follow' />
    <meta http-equiv='Content-Language' content='en' />
    <meta http-equiv='X-UA-Compatible' content='IE=edge' />
    <link rel='canonical' href='https://chicho-portfolio.vercel.app/es/' />

    <meta name='twitter:card' content='summary' />
    <meta name='twitter:site' content='@chicho69_cesar' />
    <meta name='twitter:title' content={title} />
    <meta name='twitter:description' content={description} />
    <meta name='twitter:image' content={imageFullUrl} />

    <meta name='og:title' content={title} />
    <meta name='og:description' content={description} />
    {imageFullUrl && <meta name='og:image' content={imageFullUrl} />}

    <link rel='icon' type='image/svg+xml' href='/favicon.svg' />
    <title>{title}</title>

    <ClientRouter />
  </head>

  <body class='relative text-black dark:text-white'>
    <div
      class="fixed inset-0 -z-10 h-full w-full bg-neutral-100 dark:bg-neutral-900 selection:bg-neutral-200 dark:selection:bg-neutral-700 bg-[radial-gradient(ellipse_80%_80%_at_50%_-20%,rgba(120,119,198,0.3),rgba(255,255,255,0))]"
    ></div>

    <main class='w-[95%] py-12 mx-auto container md:max-w-4xl'>
      <Navbar />
      
      <div class='w-full flex flex-col gap-16'>
        <slot />
      </div>
    </main>

    <style is:global>
      :root {
        color-scheme: light dark;
      }

      html {
        font-family: 'Onest Variable', system-ui, sans-serif;
        scroll-behavior: smooth;
      }

      body {
        color: rgba(17, 17, 17, 0.9);
        display: flex;
        flex-direction: column;
        min-height: 100vh;
        overscroll-behavior: none;
      }

      @media (prefers-reduced-motion: reduce) {
        html {
          scroll-behavior: auto;
        }
      }

      @media (prefers-color-scheme: dark) {
        body {
          color: rgba(255, 255, 255, 0.9);
        }
      }
    </style>
  </body>
</html>
